@font-face {
   font-family: 'Lexend Deca';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/caroriad/Documents/GitHub/bahij3//fonts/Lexend Deca/regular.ttf') format('truetype');
}
